.cpan
.cpanm
.*_history
local/*
cover_db/*
.tx/*
*.db
*.db-shm
*.db-wal
*.db-journal
lstu.conf
*.swp
script/hypnotoad.pid
.zanata-cache/*
themes/*
!themes/default
!themes/default/*
!themes/milligram
!themes/milligram/*
