body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.container {
    padding: 15px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Henny_Penny';
    font-style: normal;
    font-weight: 400;
    src: local('Henny Penny'), local('HennyPenny-Regular'), url('../font/hennypenny.woff2') format('woff2');
}
.hennypenny {
    font-family: 'Henny_Penny', cursive;
    font-size: 42px;
}
.link_nocol, .link_nocol:hover {
    color: #000;
    text-decoration: none;
}
dd > strong {
    padding-left: 15px;
}
